.example-container{
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 90px;
  margin-right: auto;
  padding:40px;
  background-image:url('/assets/test2.jpg');
	border-color: blue;
  max-height: 100%;
  max-width:360px;
}
input{
   background-color: white;
   height: 50px;
}
