<router-outlet></router-outlet>


<!--<div class="example-container">
gin-
  <div class="menu">
    <button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
  </div>



  <mat-form-field>
      <textarea class="tt" matInput  rows="10" disabled></textarea>
    </mat-form-field>
  <br/>
<div class="input">
  <i class="material-icons">tag_faces</i>
  <mat-form-field>
    <input matInput placeholder="enter message" >
  </mat-form-field>
<button mat-button color="primary"><i class="material-icons">send</i></button>

</div>-->
