
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirm Password">
  </mat-form-field>
<button mat-raised-button>Register</button><br/>
<nav>
  <p>Already Registered,<a routerLink="/login-f"> Login Here</a></p>
</nav>
</div>
